.btn {
  padding: 15px 30px;
  border: 1px solid black;
  color: black;
  font: 1em sans-serif;
  background: white;
  text-decoration: none;
}

.btn--small {
  padding: 10px 10px;
  font: 1.2em sans-serif;
}

.btn:hover{
  border: 1px dotted black;
}

.btn--right {
  float: right;
}

.btn--left {
  float: left;
}

.focus-text {
  background-color: #c5c5c5;
  font: 1.2em sans-serif;
  width: 50%;
  margin: auto;
  padding: 10px;
}